*{
    margin: 0; 
    padding: 0;
}
body {

    box-sizing: border-box; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: rgb(red, green, blue);

}
.container{

    width: 100%;
    height: 100vh; 
    max-width: 1200px;
    display: flex; 
    justify-content: center; 
    align-items: center;  
}

.timer-buttons >button{

    width: 100%;
    max-width: 1200px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column; 
    font-size: 1rem; 
    font-weight: bold; 
    color: #333;
    background-color: rgb(252, 247, 238);;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

}

.timer