*{
    margin: 0; 
    padding: 0;
}
body {

    box-sizing: border-box; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: rgb(red, green, blue);

}
.container {

    width: 100%;
    height: 100vh; 
    max-width: 1200px;
    display: flex; 
    justify-content: center; 
    align-items: center;  
}

.timer-buttons >button {

    width: 100%; 
    /* sets the buttons width to 100% */

    max-width: 1200px; 
    /* Limits the buttons width to 1200 pixels even if parents is wider */

    display: flex; 
    /* flex helps align and distrbute space among items so "display flex"
     allows the content to be aligned using the flexbox properties */

    justify-content: center; 
    /* Centers the content horizontally within the button */

    align-items: center;
    /* Centers the content vertically within the button */

    flex-direction: column; 
    /* Stacks the content inside the button vertically (column layout) */

    font-size: 1rem; 
    /* Sets font size to 1rem (relative to the root font size which is 16px = (20px) based on root font size */

    font-weight: bold; 
    /* makes text inside button bold */

    color: #333;
    /* grey-scale */

    background-color: rgb(252, 247, 238);
    /* */

    border: 1px solid #333;
    /* Adds 1px solid border with dark gray color*/

    border-radius: 5px;
    /* Rounds the corners the button with a radius of 5px*/

    padding: 10px;
    /* Adds 10px of inner spacing between the buttons content and its border.*/

    margin: 10px;
    /* adds 10px of outer spacing around the button */

    cursor: pointer;
    /* Changes the cursor to a pointer (hand icon) when hovering over the button. */

    transition: all 0.5s ease-in-out;
    /* Adds a smooth transition effect (0.5 seconds) for all properties that change,
    using an ease in out timing functions */
}

.timer-buttons > button:hover {
    background-color: rgb(240, 215, 169);
    /* changes the background colour of the button to a slightly dark beige when the user hovers over it. */
}